@import url('https://fonts.googleapis.com/css2?family=Mogra&display=swap');

.game__container {
  font-family: 'Mogra', system-ui;
  display: flex;
  margin: 0 auto;
  width: 30rem;
  align-items: center;
  flex-direction: column;
}

.game__container button {
  margin-top: 2rem;
  padding: 1rem;
  font-size: 1rem;
  font-family: inherit;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 100px;
}

.game__header {
  font-size: 2rem;
}

.game__modal {
  font-family: 'Mogra', system-ui;
  text-align: center;
}

.game__modal[open] {
  animation: modal-slide-down 0.5s forwards;
}

.game__modal-button_container {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: end;
}

.game__modal-button {
  outline: none;
  border: none;
  margin-left: 0.5rem;
  background-color: transparent;
  font-family: inherit;
  border-radius: 100px;
}

.game__modal-button:hover {
  outline: none;
  box-shadow: none;
  border: none;
  transition: background-color 0.5s;
  animation: slide-up 0.2s forwards;
}

@keyframes slide-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-0.25rem);
  }
}

@keyframes modal-slide-down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 30rem) {
  .game__container {
    width: 100%;
  }
  .game__header {
    font-size: 1.6rem;
  }
  .game__container button:active {
    background-color: black;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }
}

@media (min-width: 30rem) {
  .game__container button:hover {
    background-color: black;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    transition: background-color 0.5s;
    animation: slide-up 0.2s forwards;
    -webkit-tap-highlight-color: transparent;
  }
}
